button{
    padding: 8px 12px;
    margin-right: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    color: white;
    background-color: $primary-color;

    &.edit-button {
        background-color: $primary-color;

        &:hover {
            background-color: darken($primary-color, 10%);
        }
    }

    &.delete-button {
        background-color: $secondary-color;

        &:hover {
            background-color: $hover-color;
        }
    }
}