header {
    background-color: $primary-color;
    color: #fff;
    padding: 1rem 0;

    .navbar {
        @include flex-center(row, space-between);
        padding: 0 2rem;

        .navbar-container {
            width: 100%;

            .navbar-menu {
                @include flex-center(row, space-around);
                list-style: none;

                li {
                    margin: 0 1rem;

                    a {
                        text-decoration: none;
                        color: #fff;
                        font-weight: bold;
                        transition: color 0.3s;

                        &:hover {
                            color: darken($primary-color, 15%);
                        }
                    }
                }
            }
        }
    }
}